export PROJECT_PATH="$(pwd -P)/vendor:$(pwd -P)"
export PATH="${PROJECT_PATH}/bin:${PROJECT_PATH}/vendor/bin:$PATH"

if [[ $GOPATH ]]; then
	export GOPATH="${PROJECT_PATH}:${GOPATH}"
else
	export GOPATH="${PROJECT_PATH}"
fi
